spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost/aura_messenger
    username: postgres
    password: 233122
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: create-drop #для dev
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

server:
  port: 8080